html,
body {
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
}

section#intro {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
  }

  h2 {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0px;
  }
}

section#img-container {
  margin: 5vh 10vw;

  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 2em;

  div.image {
    border-radius: 1em;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
  }

  div.image:nth-of-type(even) {
    grid-row: span 2;
  }
}
